.article-form{
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

.form-elemento{
    text-align: center;
    margin-bottom: 20px;
}

.form-plan {
    width: 85%;
    background: rgb(238, 212, 128);
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 4px;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
    align-items:center;
    box-shadow: 7px 13px 37px rgb(0, 0, 0);
}

fieldset {
   display:contents;
}

.controls {
    width: 100%;
    background: #3c3c24;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #c5b41f;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.input{
    background: #3c3c24;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #c5b41f;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-plan p {
    padding-top: 10px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-plan .botons {
    width: 100%;
    background: #000000;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    text-align: center;
    font-size: 16px;
}

#conceptoPago{
   
    background: #3c3c24;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

#plan{
    width: 100%;
    background: #3c3c24;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}