.form{
    margin-top: 50px;
    
}

.article-form{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    
}

.form-elemento{
    margin-bottom: 20px;
}

.form-plan, .table{
    margin: 50px;
}

.form-plan {
    width: 40%;
    background: rgb(238, 212, 128);
    padding: 30px;
    border-radius: 4px;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
    align-items:center;
    box-shadow: 7px 13px 37px rgb(0, 0, 0);
}

fieldset {
   display:contents;
}

.controls {
    width: 100%;
    background: #3c3c24;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #c5b41f;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

label{
    width: 100%;
}


.form-plan p {
    padding-top: 10px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-plan .botons {
    width: 100%;
    background: #000000;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    text-align: center;
    font-size: 16px;
}

.metodoPago{
    padding: 10px;
}

#conceptoPago{
   
    background: #3c3c24;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

#plan{
    width: 100%;
    background: #3c3c24;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.addBotonContainer{
    text-align: center;
}

.addBoton {
    border: 3px solid;
    font-size: 20px;
}

table{
    border-collapse: collapse;
    margin:auto;
    width: 100%;
}

td, th{
    text-align: center;
    padding: 12px;
    border: solid #a1781f 1px;
    
}